# Map with Kepler

creating a map with Kepler

In [2]:
from keplergl import KeplerGl
import pandas as pd
from shapely import wkt
from shapely.wkt import loads
import geopandas as gpd

In [3]:
df = pd.read_csv('/Users/carboni/Downloads/corpus-112_images_2023-09-21_1139.csv')

In [4]:
df = df.dropna(subset=['City'])

In [5]:
df['wkt'] = df['wkt'].astype(str)

In [6]:
df = df[~df['wkt'].str.contains('nan')]

In [7]:
df['Date'] = df['Date'].astype(str)

In [8]:
df = df[~df['Date'].str.contains('nan')]

In [9]:
df['datime'] = pd.to_datetime(df['Date'])
df['Year'] = df['datime'].dt.year
df['image_per_year_in_city'] = df.groupby(['City', 'Country', 'Year'])['image_url'].transform('count')

In [10]:
df['geometry'] = df['wkt'].apply(loads)

In [11]:
df['latitude'] = df['geometry'].apply(lambda geom: geom.y)
df['longitude'] = df['geometry'].apply(lambda geom: geom.x)

In [12]:
df['Date'] = df['Date'].astype(str) + 'T00:00:00Z'

In [13]:
df.head()

,manifest_url,canvas_number,image_url,City,Country,Title,wkt,Date,Journal Type,notice,datime,Year,image_per_year_in_city,geometry,latitude,longitude
1,https://iiif.unige.ch/dhportal/ug8096214/manifest,0.0,https://iiif.unige.ch/iiif/2/fedora_ug8064419/...,Tokyo,Japan,FLIX,POINT(139.69222222222 35.689722222222),2010-06-01T00:00:00Z,Cinema,NaN,2010-06-01,2010,93,POINT (139.69222222222 35.689722222222),35.689722,139.692222
2,https://iiif.unige.ch/dhportal/ug8054362/manifest,0.0,https://iiif.unige.ch/iiif/2/fedora_ug8059238/...,Tokyo,Japan,FLIX,POINT(139.69222222222 35.689722222222),2013-08-01T00:00:00Z,Cinema,NaN,2013-08-01,2013,130,POINT (139.69222222222 35.689722222222),35.689722,139.692222
3,https://iiif.unige.ch/dhportal/ug8079451/manifest,0.0,https://iiif.unige.ch/iiif/2/fedora_ug8102867/...,Kyiv,Ukraine,KINO,POINT(30.523611111111 50.45),1933-05-10T00:00:00Z,Cinema,NaN,1933-05-10,1933,29,POINT (30.523611111111 50.45),50.450000,30.523611
5,https://iiif.unige.ch/dhportal/ug410612/manifest,0.0,https://iiif.unige.ch/iiif/2/visualcontagions/...,Hamburg,Germany,Der Spiegel,POINT(10 53.55),2020-10-26T00:00:00Z,NaN,NaN,2020-10-26,2020,83,POINT (10 53.55),53.550000,10.000000
6,https://iiif.unige.ch/dhportal/ug396639/manifest,0.0,https://iiif.unige.ch/iiif/2/visualcontagions/...,Hamburg,Germany,Der Spiegel,POINT(10 53.55),2014-03-23T00:00:00Z,NaN,NaN,2014-03-23,2014,90,POINT (10 53.55),53.550000,10.000000

In [14]:
df['Num_JT'] = df.groupby(['City', 'Country'])['Journal Type'].transform('nunique')

In [15]:
df.head()

,manifest_url,canvas_number,image_url,City,Country,Title,wkt,Date,Journal Type,notice,datime,Year,image_per_year_in_city,geometry,latitude,longitude,Num_JT
1,https://iiif.unige.ch/dhportal/ug8096214/manifest,0.0,https://iiif.unige.ch/iiif/2/fedora_ug8064419/...,Tokyo,Japan,FLIX,POINT(139.69222222222 35.689722222222),2010-06-01T00:00:00Z,Cinema,NaN,2010-06-01,2010,93,POINT (139.69222222222 35.689722222222),35.689722,139.692222,5
2,https://iiif.unige.ch/dhportal/ug8054362/manifest,0.0,https://iiif.unige.ch/iiif/2/fedora_ug8059238/...,Tokyo,Japan,FLIX,POINT(139.69222222222 35.689722222222),2013-08-01T00:00:00Z,Cinema,NaN,2013-08-01,2013,130,POINT (139.69222222222 35.689722222222),35.689722,139.692222,5
3,https://iiif.unige.ch/dhportal/ug8079451/manifest,0.0,https://iiif.unige.ch/iiif/2/fedora_ug8102867/...,Kyiv,Ukraine,KINO,POINT(30.523611111111 50.45),1933-05-10T00:00:00Z,Cinema,NaN,1933-05-10,1933,29,POINT (30.523611111111 50.45),50.450000,30.523611,4
5,https://iiif.unige.ch/dhportal/ug410612/manifest,0.0,https://iiif.unige.ch/iiif/2/visualcontagions/...,Hamburg,Germany,Der Spiegel,POINT(10 53.55),2020-10-26T00:00:00Z,NaN,NaN,2020-10-26,2020,83,POINT (10 53.55),53.550000,10.000000,4
6,https://iiif.unige.ch/dhportal/ug396639/manifest,0.0,https://iiif.unige.ch/iiif/2/visualcontagions/...,Hamburg,Germany,Der Spiegel,POINT(10 53.55),2014-03-23T00:00:00Z,NaN,NaN,2014-03-23,2014,90,POINT (10 53.55),53.550000,10.000000,4

In [16]:
df = df.drop(columns=['geometry', 'notice', 'Title','canvas_number', 'City', 'datime', 'Year', 'Country', 'wkt', 'Journal Type', 'manifest_url', 'image_url'])

In [17]:
df.head()

                   Date  image_per_year_in_city   latitude   longitude  Num_JT
1  2010-06-01T00:00:00Z                      93  35.689722  139.692222       5
2  2013-08-01T00:00:00Z                     130  35.689722  139.692222       5
3  1933-05-10T00:00:00Z                      29  50.450000   30.523611       4
5  2020-10-26T00:00:00Z                      83  53.550000   10.000000       4
6  2014-03-23T00:00:00Z                      90  53.550000   10.000000       4

In [18]:
df = df.drop_duplicates(subset=['latitude', 'Date'])

In [25]:
mask = df['Date'] > '1890-01-01'
filtered_df = df[mask]

In [26]:
filtered_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 826143 entries, 1 to 12878587
Data columns (total 5 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Date                    826143 non-null  object
 1   image_per_year_in_city  826143 non-null  int64
 2   latitude                826143 non-null  float64
 3   longitude               826143 non-null  float64
 4   Num_JT                  826143 non-null  int64
dtypes: float64(2), int64(2), object(1)
memory usage: 37.8+ MB

In [27]:
filtered_df.to_csv('df.csv', index=False)

## Creating a basic map

In [21]:
config = {'version': 'v1',
 'config': {'visState': {'filters': [{'dataId': ['Visual Contagions Bustes'],
     'id': 'dzyid41zv',
     'name': ['Date'],
     'type': 'timeRange',
     'value': [-4197052800000, 1638316800000],
     'enlarged': True,
     'plotType': 'histogram',
     'animationWindow': 'free',
     'yAxis': None,
     'speed': 1}],
   'layers': [{'id': '01eotlq',
     'type': 'geojson',
     'config': {'dataId': 'Visual Contagions Bustes',
      'label': 'Visual Contagions Bustes',
      'color': [231, 159, 213],
      'highlightColor': [252, 242, 26, 255],
      'columns': {'geojson': 'wkt'},
      'isVisible': True,
      'visConfig': {'opacity': 0.8,
       'strokeOpacity': 0.8,
       'thickness': 0.5,
       'strokeColor': None,
       'colorRange': {'name': 'Global Warming 4',
        'type': 'sequential',
        'category': 'Uber',
        'colors': ['#FFC300', '#E3611C', '#831A3D', '#5A1846'],
        'reversed': True},
       'strokeColorRange': {'name': 'Global Warming',
        'type': 'sequential',
        'category': 'Uber',
        'colors': ['#5A1846',
         '#900C3F',
         '#C70039',
         '#E3611C',
         '#F1920E',
         '#FFC300']},
       'radius': 10,
       'sizeRange': [0, 10],
       'radiusRange': [4, 38],
       'heightRange': [0, 500],
       'elevationScale': 5,
       'enableElevationZoomFactor': True,
       'stroked': False,
       'filled': True,
       'enable3d': False,
       'wireframe': False},
      'hidden': False,
      'textLabel': [{'field': None,
        'color': [255, 255, 255],
        'size': 18,
        'offset': [0, 0],
        'anchor': 'start',
        'alignment': 'center'}]},
     'visualChannels': {'colorField': {'name': 'City_number',
       'type': 'integer'},
      'colorScale': 'quantile',
      'strokeColorField': None,
      'strokeColorScale': 'quantile',
      'sizeField': None,
      'sizeScale': 'linear',
      'heightField': None,
      'heightScale': 'linear',
      'radiusField': {'name': 'City_number', 'type': 'integer'},
      'radiusScale': 'sqrt'}}],
   'interactionConfig': {'tooltip': {'fieldsToShow': {'Visual Contagions Bustes': [{'name': 'City',
        'format': None}]},
     'compareMode': False,
     'compareType': 'absolute',
     'enabled': True},
    'brush': {'size': 0.5, 'enabled': False},
    'geocoder': {'enabled': False},
    'coordinate': {'enabled': False}},
   'layerBlending': 'normal',
   'splitMaps': [],
   'animationConfig': {'currentTime': None, 'speed': 1}},
  'mapState': {'bearing': 0,
   'dragRotate': False,
   'latitude': 10.873968378937608,
   'longitude': 10.387154471543907,
   'pitch': 0,
   'zoom': 1,
   'isSplit': False},
  'mapStyle': {'styleType': 'dark',
   'topLayerGroups': {},
   'visibleLayerGroups': {'label': True,
    'road': True,
    'border': False,
    'building': True,
    'water': True,
    'land': True,
    '3d building': False},
   'threeDBuildingColor': [9.665468314072013,
    17.18305478057247,
    31.1442867897876],
   'mapStyles': {}}}}

In [22]:
map = KeplerGl(height=600, data={'Corpus Explore Visual Contagions': filtered_df}, config = config)

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter

In [24]:
map

/Users/carboni/mambaforge/envs/jupyter/lib/python3.10/site-packages/IPython/core/formatters.py:365: FormatterWarning: text/html formatter returned invalid type <class 'bytes'> (expected <class 'str'>) for object: KeplerGl(config={'version': 'v1', 'config': {'visState': {'filters': [{'dataId': ['Visual Contagions Bustes'], 'id': 'dzyid41zv', 'name': ['Date'], 'type': 'timeRange', 'value': [-4197052800000, 1638316800000], 'enlarged': True, 'plotType': 'histogram', 'animationWindow': 'free', 'yAxis': None, 'speed': 1}], 'layers': [{'id': '01eotlq', 'type': 'geojson', 'config': {'dataId': 'Visual Contagions Bustes', 'label': 'Visual Contagions Bustes', 'color': [231, 159, 213], 'highlightColor': [252, 242, 26, 255], 'columns': {'geojson': 'wkt'}, 'isVisible': True, 'visConfig': {'opacity': 0.8, 'strokeOpacity': 0.8, 'thickness': 0.5, 'strokeColor': None, 'colorRange': {'name': 'Global Warming 4', 'type': 'sequential', 'category': 'Uber', 'colors': ['#FFC300', '#E3611C', '#831A3D', '#5A1846'], 'reversed': True}, 'strokeColorRange': {'name': 'Global Warming', 'type': 'sequential', 'category': 'Uber', 'colors': ['#5A1846', '#900C3F', '#C70039', '#E3611C', '#F1920E', '#FFC300']}, 'radius': 10, 'sizeRange': [0, 10], 'radiusRange': [4, 38], 'heightRange': [0, 500], 'elevationScale': 5, 'enableElevationZoomFactor': True, 'stroked': False, 'filled': True, 'enable3d': False, 'wireframe': False}, 'hidden': False, 'textLabel': [{'field': None, 'color': [255, 255, 255], 'size': 18, 'offset': [0, 0], 'anchor': 'start', 'alignment': 'center'}]}, 'visualChannels': {'colorField': {'name': 'City_number', 'type': 'integer'}, 'colorScale': 'quantile', 'strokeColorField': None, 'strokeColorScale': 'quantile', 'sizeField': None, 'sizeScale': 'linear', 'heightField': None, 'heightScale': 'linear', 'radiusField': {'name': 'City_number', 'type': 'integer'}, 'radiusScale': 'sqrt'}}], 'interactionConfig': {'tooltip': {'fieldsToShow': {'Visual Contagions Bustes': [{'name': 'City', 'format': None}]}, 'compareMode': False, 'compareType': 'absolute', 'enabled': True}, 'brush': {'size': 0.5, 'enabled': False}, 'geocoder': {'enabled': False}, 'coordinate': {'enabled': False}}, 'layerBlending': 'normal', 'splitMaps': [], 'animationConfig': {'currentTime': None, 'speed': 1}}, 'mapState': {'bearing': 0, 'dragRotate': False, 'latitude': 10.873968378937608, 'longitude': 10.387154471543907, 'pitch': 0, 'zoom': 1, 'isSplit': False}, 'mapStyle': {'styleType': 'dark', 'topLayerGroups': {}, 'visibleLayerGroups': {'label': True, 'road': True, 'border': False, 'building': True, 'water': True, 'land': True, '3d building': False}, 'threeDBuildingColor': [9.665468314072013, 17.18305478057247, 31.1442867897876], 'mapStyles': {}}}}, data={'Corpus Explore Visual Contagions':                           Date  image_per_year_in_city   latitude   longitude  \
1         2010-06-01T00:00:00Z                      93  35.689722  139.692222
2         2013-08-01T00:00:00Z                     130  35.689722  139.692222
3         1933-05-10T00:00:00Z                      29  50.450000   30.523611
5         2020-10-26T00:00:00Z                      83  53.550000   10.000000
6         2014-03-23T00:00:00Z                      90  53.550000   10.000000
...                        ...                     ...        ...         ...
12878546  1985-01-01T00:00:00Z                       5  38.347222  -81.633333
12878551  1986-01-01T00:00:00Z                       7  38.347222  -81.633333
12878558  1987-01-01T00:00:00Z                       6  38.347222  -81.633333
12878564  1957-05-01T00:00:00Z                      51  38.347222  -81.633333
12878587  1958-05-01T00:00:00Z                      16  38.347222  -81.633333

          Num_JT
1              5
2              5
3              4
5              4
6              4
...          ...
12878546       2
12878551       2
12878558       2
12878564       2
12878587       2

[844912 rows x 5 columns]}, height=600)
  warnings.warn(

KeplerGl(config={'version': 'v1', 'config': {'visState': {'filters': [{'dataId': ['Visual Contagions Bustes'],â€¦

In [23]:
map.save_to_html(data={'Visual Contagions Corpus': df}, config=config, file_name='/Users/carboni/Documents/UNIGE/pynotebook/kepler/VC_explored.html')

Map saved to /Users/carboni/Documents/UNIGE/pynotebook/kepler/VC_explored.html!