In [1]:
import pandas as pd

In [2]:
df_exhibition = pd.read_csv('/Users/carboni/Documents/UNIGE/basart_downloads/2023/data/processed/exhibition_done/Artlas Exhibition.csv', dtype ='str')
df_catalog = pd.read_csv('/Users/carboni/Documents/UNIGE/basart_downloads/2023/data/processed/exhibition_extra/exhibitions_ids/Exhibition Catalog.csv', dtype ='str')
df_exhibition_section = pd.read_csv('/Users/carboni/Documents/UNIGE/basart_downloads/2023/data/processed/exhibition_extra/exhibitions_ids/Exhibition Section.csv', dtype ='str')

In [3]:
df_catalog.rename(columns={'id': 'id_catalog'}, inplace=True)
df_exhibition.rename(columns={'id': 'id_exhibition'}, inplace=True)
df_exhibition_section.rename(columns={'id': 'id_section'}, inplace=True)

In [4]:
merged_catalog = pd.merge(df_exhibition[['id_exhibition']], df_catalog[['id_catalog', 'id_exhibition']], left_on='id_exhibition', right_on='id_exhibition')

In [5]:
merged_section = pd.merge(merged_catalog[['id_catalog', 'id_exhibition']], df_exhibition_section[['id_section', 'id_catalog', 'id_address']], left_on='id_catalog', right_on='id_catalog')

In [6]:
merged_section

     id_catalog id_exhibition id_section id_address
0          3697          8155       4007      18157
1          3698          8156       4008      15347
2          2675          2451       1482      12038
3          3739         18455       4068      18283
4          3739         18455       4069      18283
...         ...           ...        ...        ...
3848       4097         18743       4426      18555
3849       3679          8138       3988      18071
3850       3680          8139       3989      18071
3851       3687          8146       3995      18071
3852       4125         18773       4454      18555

[3853 rows x 4 columns]