In [10]:
import pandas as pd
import csv
from rapidfuzz import fuzz
from fuzzywuzzy import process
from tqdm import tqdm_notebook as tqdm

In [4]:
df = pd.read_csv('/Users/carboni/Downloads/revues_ag.txt')

In [5]:
df.head()

,Titre,query,media url,fondation,région,Disparition,"ville, pays",ville,pays,animateurs,Nb,Notes
0,14 rue du Dragon,14 rue du dragon,NaN,1933,Paris,1934,"Paris, France",Paris,France,Christian Zervos,5,NaN
1,25,25,NaN,1925,Central Europe,1925,"Trieste, Italie",Trieste,Italie,"G. Carmelich, E. M. Dolfi",NaN,NaN
2,291 [full text],291 [full text],NaN,1915,United States,1916,"New York, USA",New York,USA,"Paul B. Haviland, Marius de Zayas and Agnes Er...",12,NaN
3,2x2,2x2,NaN,1922,Central Europe,NaN,"Vienne, Austria",Vienne,Austria,Lajos Kassák,NaN,NaN
4,391 [full text],391 [full text],NaN,1917,Spain,1924,"Barcelone, Spain",Barcelone,Spain,Picabia,19,"Barcelona (N° 1-4), New York (N° 5-7), Zurich ..."

In [8]:
with open('/Users/carboni/Downloads/corpus_titles.csv', 'r') as f:
    reader = csv.reader(f)
    f500_list = list(reader)

In [ ]:
f500_list

In [11]:
f500_1 = []
for company in tqdm(df['Titre']):
    if type(company) != str: # Checking base case. 
        pass
    else:
        match = process.extractOne(company, f500_list) #Returns tuple of best match and percent fit.
        f500_1.append(company)
        f500_1.append(match)

/var/folders/nw/zm4zl9xn4_d_rq3fnglst3n80000gp/T/ipykernel_3261/311062129.py:2: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  for company in tqdm(df['Titre']):

  0%|          | 0/526 [00:00<?, ?it/s]

In [15]:
f500_1[3]

(['Revista Patrimonio cultural Nº 25'], 60)