In [1]:
from keplergl import KeplerGl
import pandas as pd

In [2]:
df = pd.read_csv('/Users/carboni/Downloads/combined_buste.csv')

In [3]:
df.head()

,image_url,City,Country,wkt,normalized_date,Title,Journal Type,cluster_name
0,https://bluemountain.princeton.edu/bluemtn/iii...,Copenhagen,Denmark,POINT(12.568888888889 55.676111111111),1942-01-01,Klingen,Avant-garde Journal,NaN
1,https://bluemountain.princeton.edu/bluemtn/iii...,Copenhagen,Denmark,POINT(12.568888888889 55.676111111111),1942-01-01,Klingen,Avant-garde Journal,NaN
2,https://digi.ub.uni-heidelberg.de/iiif/2/bmusv...,Warsaw,Poland,POINT(21.011111111111113 52.23),1968-01-01,Bulletin du Musée National de Varsovie,Art History,NaN
3,https://digi.ub.uni-heidelberg.de/iiif/2/bullm...,City of Brussels,Belgium,POINT(4.351666666666667 50.846666666666664),1902-01-01,Bulletin des Musées Royaux des Arts Décoratifs...,Decorative Art,NaN
4,https://digi.ub.uni-heidelberg.de/iiif/2/bullm...,City of Brussels,Belgium,POINT(4.351666666666667 50.846666666666664),1913-01-01,Bulletin des Musées Royaux du Cinquantenaire,Heritage,NaN

In [4]:
def date_split(date:str)-> (str,str,str):
    if type(date) is not str:
        return float('nan'),float('nan'),float('nan')
    splits = date.split('-')
    vals = splits + [float('nan')] * (3 - len(splits))
    return [float(v) for v in vals]

df['year'], df['month'], df['day'] = zip(*df['normalized_date'].apply(date_split))

df = df[df['year'] >= 1870.]

In [5]:
df = df.drop(['month','day', 'year'], 1)

/var/folders/nw/zm4zl9xn4_d_rq3fnglst3n80000gp/T/ipykernel_84571/377399870.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df = df.drop(['month','day', 'year'], 1)

In [6]:
df['normalized_date'] = df['normalized_date'].astype(str) + 'T00:00:00Z'

In [8]:
df.head(3)

,image_url,City,Country,wkt,normalized_date,Title,Journal Type,cluster_name
0,https://bluemountain.princeton.edu/bluemtn/iii...,Copenhagen,Denmark,POINT(12.568888888889 55.676111111111),1942-01-01T00:00:00Z,Klingen,Avant-garde Journal,NaN
1,https://bluemountain.princeton.edu/bluemtn/iii...,Copenhagen,Denmark,POINT(12.568888888889 55.676111111111),1942-01-01T00:00:00Z,Klingen,Avant-garde Journal,NaN
2,https://digi.ub.uni-heidelberg.de/iiif/2/bmusv...,Warsaw,Poland,POINT(21.011111111111113 52.23),1968-01-01T00:00:00Z,Bulletin du Musée National de Varsovie,Art History,NaN

## Compute pivot

number of cities and number of type

In [9]:
pivot_city = pd.pivot_table(df, values='image_url', index='City', aggfunc=pd.Series.nunique)

In [10]:
pivot_city = pivot_city.rename(columns={"image_url": "City_number"})

In [11]:
df = pd.merge(df, pivot_city, on=['City'])

In [12]:
df.head(4)

,image_url,City,Country,wkt,normalized_date,Title,Journal Type,cluster_name,City_number
0,https://bluemountain.princeton.edu/bluemtn/iii...,Copenhagen,Denmark,POINT(12.568888888889 55.676111111111),1942-01-01T00:00:00Z,Klingen,Avant-garde Journal,NaN,23
1,https://bluemountain.princeton.edu/bluemtn/iii...,Copenhagen,Denmark,POINT(12.568888888889 55.676111111111),1942-01-01T00:00:00Z,Klingen,Avant-garde Journal,NaN,23
2,https://digi.ub.uni-heidelberg.de/iiif/2/samle...,Copenhagen,Denmark,POINT(12.568888888889 55.676111111111),1925-01-01T00:00:00Z,Samleren,Art History,NaN,23
3,https://bluemountain.princeton.edu/bluemtn/iii...,Copenhagen,Denmark,POINT(12.568888888889 55.676111111111),1942-01-01T00:00:00Z,Klingen,Avant-garde Journal,NaN,23

In [13]:
pivot_type = pd.pivot_table(df, values='image_url', index='Journal Type', aggfunc=pd.Series.nunique)

In [14]:
pivot_type = pivot_type.rename(columns={"image_url": "Type_number"})

In [15]:
df = pd.merge(df, pivot_type, on=['Journal Type'])

In [16]:
df.head(4)

,image_url,City,Country,wkt,normalized_date,Title,Journal Type,cluster_name,City_number,Type_number
0,https://bluemountain.princeton.edu/bluemtn/iii...,Copenhagen,Denmark,POINT(12.568888888889 55.676111111111),1942-01-01T00:00:00Z,Klingen,Avant-garde Journal,NaN,23,21
1,https://bluemountain.princeton.edu/bluemtn/iii...,Copenhagen,Denmark,POINT(12.568888888889 55.676111111111),1942-01-01T00:00:00Z,Klingen,Avant-garde Journal,NaN,23,21
2,https://bluemountain.princeton.edu/bluemtn/iii...,Copenhagen,Denmark,POINT(12.568888888889 55.676111111111),1942-01-01T00:00:00Z,Klingen,Avant-garde Journal,NaN,23,21
3,https://bluemountain.princeton.edu/bluemtn/iii...,Copenhagen,Denmark,POINT(12.568888888889 55.676111111111),1942-01-01T00:00:00Z,Klingen,Avant-garde Journal,NaN,23,21

## Kepler Map

In [ ]:
config = {'version': 'v1',
 'config': {'visState': {'filters': [{'dataId': ['Visual Contagions Bustes'],
     'id': 'besmmdexn',
     'name': ['normalized_date'],
     'type': 'timeRange',
     'value': [-4102444800000, -3616734052000],
     'enlarged': True,
     'plotType': 'histogram',
     'animationWindow': 'free',
     'yAxis': None,
     'speed': 0.5}],
   'layers': [{'id': 'i3qqn6',
     'type': 'geojson',
     'config': {'dataId': 'Visual Contagions Bustes',
      'label': 'Visual Contagions Bustes',
      'color': [30, 150, 190],
      'highlightColor': [252, 242, 26, 255],
      'columns': {'geojson': 'wkt'},
      'isVisible': True,
      'visConfig': {'opacity': 0.8,
       'strokeOpacity': 0.8,
       'thickness': 0.5,
       'strokeColor': None,
       'colorRange': {'name': 'Global Warming 4',
        'type': 'sequential',
        'category': 'Uber',
        'colors': ['#FFC300', '#E3611C', '#831A3D', '#5A1846'],
        'reversed': True},
       'strokeColorRange': {'name': 'Global Warming',
        'type': 'sequential',
        'category': 'Uber',
        'colors': ['#5A1846',
         '#900C3F',
         '#C70039',
         '#E3611C',
         '#F1920E',
         '#FFC300']},
       'radius': 10,
       'sizeRange': [0, 0],
       'radiusRange': [20, 40],
       'heightRange': [0, 500],
       'elevationScale': 5,
       'enableElevationZoomFactor': True,
       'stroked': False,
       'filled': True,
       'enable3d': False,
       'wireframe': False},
      'hidden': False,
      'textLabel': [{'field': None,
        'color': [255, 255, 255],
        'size': 18,
        'offset': [0, 0],
        'anchor': 'start',
        'alignment': 'center'}]},
     'visualChannels': {'colorField': {'name': 'City_number',
       'type': 'integer'},
      'colorScale': 'quantile',
      'strokeColorField': None,
      'strokeColorScale': 'quantile',
      'sizeField': {'name': 'City_number', 'type': 'integer'},
      'sizeScale': 'sqrt',
      'heightField': None,
      'heightScale': 'linear',
      'radiusField': {'name': 'City_number', 'type': 'integer'},
      'radiusScale': 'sqrt'}}],
   'interactionConfig': {'tooltip': {'fieldsToShow': {'Visual Contagions Bustes': [{'name': 'image_url',
        'format': None},
       {'name': 'City', 'format': None},
       {'name': 'Country', 'format': None},
       {'name': 'normalized_date', 'format': None},
       {'name': 'Title', 'format': None}]},
     'compareMode': False,
     'compareType': 'absolute',
     'enabled': True},
    'brush': {'size': 0.5, 'enabled': False},
    'geocoder': {'enabled': False},
    'coordinate': {'enabled': False}},
   'layerBlending': 'normal',
   'splitMaps': [],
   'animationConfig': {'currentTime': None, 'speed': 1}},
  'mapState': {'bearing': 0,
   'dragRotate': False,
   'latitude': 0,
   'longitude': 32.83024581155567,
   'pitch': 0,
   'zoom': 0.22881869049588088,
   'isSplit': False},
  'mapStyle': {'styleType': 'dark',
   'topLayerGroups': {},
   'visibleLayerGroups': {'label': True,
    'road': True,
    'border': False,
    'building': True,
    'water': True,
    'land': True,
    '3d building': False},
   'threeDBuildingColor': [9.665468314072013,
    17.18305478057247,
    31.1442867897876],
   'mapStyles': {}}}}

In [30]:
config = {'version': 'v1',
 'config': {'visState': {'filters': [{'dataId': ['Visual Contagions Bustes'],
     'id': 'besmmdexn',
     'name': ['normalized_date'],
     'type': 'timeRange',
     'value': [-2524521600000, -2169051565000],
     'enlarged': True,
     'isAnimating': True,
     'plotType': 'histogram',
     'animationWindow': 'free',
     'yAxis': None,
     'speed': 0.5}],
   'layers': [{'id': 'i3qqn6',
     'type': 'geojson',
     'config': {'dataId': 'Visual Contagions Bustes',
      'label': 'Visual Contagions Bustes',
      'color': [30, 150, 190],
      'highlightColor': [252, 242, 26, 255],
      'columns': {'geojson': 'wkt'},
      'isVisible': True,
      'visConfig': {'opacity': 0.8,
       'strokeOpacity': 0.8,
       'thickness': 0.5,
       'strokeColor': None,
       'colorRange': {'name': 'Global Warming 4',
        'type': 'sequential',
        'category': 'Uber',
        'colors': ['#FFC300', '#E3611C', '#831A3D', '#5A1846'],
        'reversed': True},
       'strokeColorRange': {'name': 'Global Warming',
        'type': 'sequential',
        'category': 'Uber',
        'colors': ['#5A1846',
         '#900C3F',
         '#C70039',
         '#E3611C',
         '#F1920E',
         '#FFC300']},
       'radius': 10,
       'sizeRange': [0, 0],
       'radiusRange': [20, 40],
       'heightRange': [0, 500],
       'elevationScale': 5,
       'enableElevationZoomFactor': True,
       'stroked': False,
       'filled': True,
       'enable3d': False,
       'wireframe': False},
      'hidden': False,
      'textLabel': [{'field': None,
        'color': [255, 255, 255],
        'size': 18,
        'offset': [0, 0],
        'anchor': 'start',
        'alignment': 'center'}]},
     'visualChannels': {'colorField': {'name': 'City_number',
       'type': 'integer'},
      'colorScale': 'quantile',
      'strokeColorField': None,
      'strokeColorScale': 'quantile',
      'sizeField': {'name': 'City_number', 'type': 'integer'},
      'sizeScale': 'sqrt',
      'heightField': None,
      'heightScale': 'linear',
      'radiusField': {'name': 'City_number', 'type': 'integer'},
      'radiusScale': 'sqrt'}}],
   'interactionConfig': {'tooltip': {'fieldsToShow': {'Visual Contagions Bustes': [{'name': 'Title',
        'format': None},
       {'name': 'City', 'format': None},
       {'name': 'normalized_date', 'format': None},
       {'name': 'Country', 'format': None}]},
     'compareMode': False,
     'compareType': 'absolute',
     'enabled': True},
    'brush': {'size': 0.5, 'enabled': False},
    'geocoder': {'enabled': False},
    'coordinate': {'enabled': False}},
   'layerBlending': 'normal',
   'splitMaps': [],
   'animationConfig': {'currentTime': None, 'speed': 1}},
  'mapState': {'bearing': 0,
   'dragRotate': False,
   'latitude': 0,
   'longitude': 32.83024581155567,
   'pitch': 0,
   'zoom': 0.22881869049588088,
   'isSplit': False},
  'mapStyle': {'styleType': 'dark',
   'topLayerGroups': {},
   'visibleLayerGroups': {'label': True,
    'road': True,
    'border': False,
    'building': True,
    'water': True,
    'land': True,
    '3d building': False},
   'threeDBuildingColor': [9.665468314072013,
    17.18305478057247,
    31.1442867897876],
   'mapStyles': {}}}}

In [31]:
map = KeplerGl(height=600, data={'Visual Contagions Bustes': df}, config=config)

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter

/opt/homebrew/Caskroom/miniforge/base/envs/jupyter/lib/python3.8/site-packages/jupyter_client/session.py:718: UserWarning: Message serialization failed with:
Out of range float values are not JSON compliant
Supporting this message is deprecated in jupyter-client 7, please make sure your message is JSON-compliant
  content = self.pack(content)

In [32]:
map

KeplerGl(config={'version': 'v1', 'config': {'visState': {'filters': [{'dataId': ['Visual Contagions Bustes'],…

In [33]:
map.save_to_html(data={'Visual Contagions Bustes': df}, config=config, file_name='VC_buste3.html')

Map saved to VC_buste3.html!