In [1]:
import pandas as pd
import os

In [1]:
keep_col = ['Media URL','City','Country','wkt', 'normalized_date', 'Title', 'Journal Type']

In [3]:
loc = pd.read_csv("/Users/carboni/Documents/UNIGE/pynotebook/OpenRefine_fusion_Local/backup/LOC.csv")

In [4]:
new_loc = loc[keep_col]

In [5]:
new_loc['Journal Type'] = 'News'

In [6]:
new_loc['normalized_date'] = loc['normalized_date'].replace('/','-', regex=True)

In [7]:
new_loc.head()

,Media URL,City,Country,wkt,normalized_date,Title,Journal Type
0,https://iiif.unige.ch/dhportal/ug9123302/manifest,Kennewick,United States of America,POINT(-119.15927 46.203475),1913-05-16,The Kennewick courier.,News
1,https://iiif.unige.ch/dhportal/ug8660646/manifest,Kennewick,United States of America,POINT(-119.15927 46.203475),1913-10-31,The Kennewick courier.,News
2,https://iiif.unige.ch/dhportal/ug9034616/manifest,Kennewick,United States of America,POINT(-119.15927 46.203475),1913-02-14,The Kennewick courier.,News
3,https://iiif.unige.ch/dhportal/ug8390532/manifest,Kennewick,United States of America,POINT(-119.15927 46.203475),1913-01-31,The Kennewick courier.,News
4,https://iiif.unige.ch/dhportal/ug8742023/manifest,Kennewick,United States of America,POINT(-119.15927 46.203475),1913-07-11,The Kennewick courier.,News

In [152]:
new_loc.to_csv("/Users/carboni/Documents/UNIGE/pynotebook/OpenRefine_fusion/backup/LOC_type.csv")

## Full dataset

In [9]:
pdf = pd.read_csv("backup/Backup_2022_02_03_PDF_cleaned.csv")
new_pdf = pdf[keep_col]
iiif = pd.read_csv("backup/BackupCBT_2022_02_03_IIIF_Only.csv")
new_iiif = iiif[keep_col]
bnf = pd.read_csv("backup/BNF_periodic_all.csv", low_memory=False)
new_bnf = bnf[keep_col]
bm = pd.read_csv("backup/Princeton_Blue_Mountain.csv")
new_bm = bm[keep_col]
est = pd.read_csv("backup/Journaux_Est-Asiatique.csv")
new_est = est[keep_col]
# wiki = pd.read_csv("backup/CORPUS_wikidata_visual_items_post_1870.csv", low_memory=False, dtype=object)
# new_wiki = wiki[keep_col]

In [11]:
merged_df = pd.concat([new_loc, new_pdf, new_iiif, new_bnf, new_bm, new_est])

## Analysed Dataset

In [106]:
pdf = pd.read_csv("backup/Backup_2022_02_03_PDF_cleaned.csv")
new_pdf = pdf[keep_col]
iiif = pd.read_csv("backup/BackupCBT_2022_02_03_IIIF_Only.csv")
new_iiif = iiif[keep_col]
bnf = pd.read_csv("backup/BNF_periodic_explored.csv", low_memory=False)
new_bnf = bnf[keep_col]
bm = pd.read_csv("backup/Princeton_Blue_Mountain.csv")
new_bm = bm[keep_col]
est = pd.read_csv("backup/Journaux_Est-Asiatique.csv")
new_est = est[keep_col]

In [115]:
merged_df_no_loc = pd.concat([new_pdf, new_iiif, new_bnf, new_bm, new_est])

In [107]:
merged_df = pd.concat([new_loc, new_pdf, new_iiif, new_bnf, new_bm, new_est])

## Titles

#### LOC

In [114]:
new_loc["Title"].nunique()

1702

In [123]:
titles_loc = new_loc["Title"].unique()

In [128]:
title_series_loc = pd.Series(titles_loc)

In [136]:
title_series_loc.sort_values(ascending = True).to_csv("/Users/carboni/Documents/UNIGE/pynotebook/OpenRefine_fusion/backup/LOC_title.csv")

In [150]:
new_loc["City"].nunique()

840

#### Merged no LOC

In [146]:
merged_df_no_loc["Title"].nunique()

1791

In [147]:
titles_merged_no_loc = merged_df_no_loc["Title"].unique()

In [148]:
titles_merged_no_loc_series = pd.Series(titles_merged_no_loc)

In [149]:
titles_merged_no_loc_series.sort_values(ascending = True).to_csv("/Users/carboni/Documents/UNIGE/pynotebook/OpenRefine_fusion/backup/MERGED_NO_LOC_title.csv")

In [151]:
merged_df_no_loc["City"].nunique()

304

#### Titles all

In [12]:
merged_df["Title"].nunique()

4455

In [13]:
merged_df["Country"].nunique()

45

In [14]:
merged_df["City"].nunique()

1193

In [143]:
merged = merged_df["Title"].unique()

In [144]:
merged_series = pd.Series(merged)

In [145]:
merged_series.sort_values(ascending = True).to_csv("/Users/carboni/Documents/UNIGE/pynotebook/OpenRefine_fusion/backup/MERGED_title.csv")

##

In [108]:
def date_split(date:str)-> (str,str,str):
    if type(date) is not str:
        return float('nan'),float('nan'),float('nan')
    splits = date.split('-')
    vals = splits + [float('nan')] * (3 - len(splits))
    return [float(v) for v in vals]

merged_df['year'], merged_df['month'], merged_df['day'] = zip(*merged_df['normalized_date'].apply(date_split))

merged_1870 = merged_df[merged_df['year'] >= 1870.]

In [109]:
merged_1870 = merged_1870.drop(['month','day', 'year'], 1)

/var/folders/nw/zm4zl9xn4_d_rq3fnglst3n80000gp/T/ipykernel_91316/3457124699.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  merged_1870 = merged_1870.drop(['month','day', 'year'], 1)

In [110]:
merged_1870.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3218731 entries, 0 to 4690
Data columns (total 7 columns):
 #   Column           Dtype
---  ------           -----
 0   Media URL        object
 1   City             object
 2   Country          object
 3   wkt              object
 4   normalized_date  object
 5   Title            object
 6   Journal Type     object
dtypes: object(7)
memory usage: 196.5+ MB

In [154]:
merged_1870.to_csv("/Users/carboni/Documents/UNIGE/pynotebook/OpenRefine_fusion/backup/combined_explored_loc/combined_explored_all2.csv", index=False)

OSError: Cannot save file into a non-existent directory: '/Users/carboni/Documents/UNIGE/pynotebook/OpenRefine_fusion/backup/combined_explored_loc'

In [111]:
merged_1870.head(6)

,Media URL,City,Country,wkt,normalized_date,Title,Journal Type
0,https://iiif.unige.ch/dhportal/ug9123302/manifest,Kennewick,United States of America,POINT(-119.15927 46.203475),1913-05-16,The Kennewick courier.,News
1,https://iiif.unige.ch/dhportal/ug8660646/manifest,Kennewick,United States of America,POINT(-119.15927 46.203475),1913-10-31,The Kennewick courier.,News
2,https://iiif.unige.ch/dhportal/ug9034616/manifest,Kennewick,United States of America,POINT(-119.15927 46.203475),1913-02-14,The Kennewick courier.,News
3,https://iiif.unige.ch/dhportal/ug8390532/manifest,Kennewick,United States of America,POINT(-119.15927 46.203475),1913-01-31,The Kennewick courier.,News
4,https://iiif.unige.ch/dhportal/ug8742023/manifest,Kennewick,United States of America,POINT(-119.15927 46.203475),1913-07-11,The Kennewick courier.,News
5,https://iiif.unige.ch/dhportal/ug9078267/manifest,Kennewick,United States of America,POINT(-119.15927 46.203475),1913-10-17,The Kennewick courier.,News

In [112]:
merged_1870["City"].nunique()

1109

In [113]:
merged_1870["Title"].nunique()

3478

## Pivot - Cities only

In [72]:
pivot_city = pd.pivot_table(merged_1870, values='Media URL', index='City', aggfunc=pd.Series.nunique)

In [73]:
pivot_city.head(20)

                      Media URL
City
's-Hertogenbosch             20
A Coruña                      2
Aachen                       11
Aalbeke                       1
Aalborg Municipality          1
Aalten                        1
Aarau                         1
Abbeville                  4276
Aberdare                      2
Aberdeen                   4175
Aberdeen City                 3
Aberdeenshire                 1
Abergavenny                   1
Aberystwyth                   2
Abfaltersbach                 1
Abilene                    2603
Accomac                     134
Acton                         1
Adaminaby                     1
Adamov                        2

In [76]:
cross = pd.merge(pivot_city, merged_1870, on=['City'])

In [77]:
cross.head(3)

,City,Media URL_x,Media URL_y,Country,wkt,normalized_date,Title,Journal Type
0,'s-Hertogenbosch,20,http://commons.wikimedia.org/wiki/Special:File...,Netherlands,POINT(5.3031 51.6892),1903-01-01,Drakenfontein 's-Hertogenbosch,NaN
1,'s-Hertogenbosch,20,http://commons.wikimedia.org/wiki/Special:File...,Netherlands,POINT(5.3031 51.6892),1929-01-01,Statue of Hieronymus Bosch,NaN
2,'s-Hertogenbosch,20,http://commons.wikimedia.org/wiki/Special:File...,Netherlands,POINT(5.3031 51.6892),1906-01-01,NaN,NaN

In [78]:
cross_new = cross.rename({'Media URL_x': 'pivot_city', 'Media URL_y': 'Media URL'}, axis=1)

In [79]:
cross_new.head(3)

,City,pivot_city,Media URL,Country,wkt,normalized_date,Title,Journal Type
0,'s-Hertogenbosch,20,http://commons.wikimedia.org/wiki/Special:File...,Netherlands,POINT(5.3031 51.6892),1903-01-01,Drakenfontein 's-Hertogenbosch,NaN
1,'s-Hertogenbosch,20,http://commons.wikimedia.org/wiki/Special:File...,Netherlands,POINT(5.3031 51.6892),1929-01-01,Statue of Hieronymus Bosch,NaN
2,'s-Hertogenbosch,20,http://commons.wikimedia.org/wiki/Special:File...,Netherlands,POINT(5.3031 51.6892),1906-01-01,NaN,NaN

In [80]:
cross_new.drop(['Country', 'Media URL', 'normalized_date', 'Title', 'Journal Type' ], axis=1, inplace=True)

In [81]:
cross_new.head(3)

               City  pivot_city                    wkt
0  's-Hertogenbosch          20  POINT(5.3031 51.6892)
1  's-Hertogenbosch          20  POINT(5.3031 51.6892)
2  's-Hertogenbosch          20  POINT(5.3031 51.6892)

In [82]:
cross_new["City"].nunique()

3111

In [83]:
cross_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3554214 entries, 0 to 3554213
Data columns (total 3 columns):
 #   Column      Dtype
---  ------      -----
 0   City        object
 1   pivot_city  int64
 2   wkt         object
dtypes: int64(1), object(2)
memory usage: 108.5+ MB

In [84]:
cross_new2 = cross_new.drop_duplicates(subset=['City'])

In [85]:
cross_new2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3111 entries, 0 to 3554213
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City        3111 non-null   object
 1   pivot_city  3111 non-null   int64
 2   wkt         3101 non-null   object
dtypes: int64(1), object(2)
memory usage: 97.2+ KB

In [86]:
cross_new2.to_csv("/Users/carboni/Documents/UNIGE/pynotebook/OpenRefine_fusion/backup/combined_explored_loc/pivot_city.csv", index=False)