In [1]:
import pandas as pd
import requests
from io import StringIO
import uuid

Steps: we import the

In [2]:
url = "http://129.194.213.75/command/core/export-rows"
params = {
    'format': 'csv',
    'project': '1969739192362'
}

response = requests.post(url, params=params)

if response.status_code == 200:
    df = pd.read_csv(StringIO(response.text), dtype ='str', low_memory=False)
else:
    print(f"Failed to load data. Status code: {response.status_code}")

In [3]:
add_basart = pd.read_csv("/Users/carboni/Downloads/LeBoulanger Address.csv",  dtype ='str')

In [4]:
add_basart_city = pd.read_csv("/Users/carboni/Downloads/LeBoulanger Addresses_city.csv",  dtype ='str')

In [5]:
add_basart_city_id = add_basart_city[['id','id_city']]

In [6]:
merged_bas = add_basart.merge(add_basart_city_id, on='id', how='left')

In [7]:
df.head()

,id,sent,starred,new_new_lat,new_new_long,all_lat_new,all_long_new,identifier,road_num,road,...,locality,complement,x,y,artlas_g_link,wd_id_re-check,id_city,wikidata_id_city,Len,distance_km
0,22077,NaN,NaN,NaN,NaN,NaN,NaN,22077,11 bis,rue de Porto-Riche,...,NaN,NaN,NaN,NaN,NaN,NaN,17053,Q234735,Meudon,NaN
1,22076,NaN,NaN,NaN,NaN,NaN,NaN,22076,50,rue des Ruisseaux,...,NaN,NaN,NaN,NaN,NaN,NaN,17053,Q234735,Meudon,NaN
2,21820,NaN,NaN,NaN,NaN,NaN,NaN,21820,11,rue de Vélicy,...,NaN,NaN,NaN,NaN,NaN,NaN,17053,Q234735,Meudon,NaN
3,3883,NaN,NaN,NaN,NaN,NaN,NaN,3883,103,avenue de Paris,...,NaN,NaN,2.3649888,48.8021611,NaN,NaN,2283,Q212987,Choisy-le-Roi,NaN
4,3898,NaN,NaN,NaN,NaN,NaN,NaN,3898,3,rue de la Promenade,...,NaN,NaN,2.286761,48.912498,NaN,NaN,2290,Q1009849,Asnières,NaN

In [8]:
merged_bas.head()

,id,road_num,road,floor,locality,complement,x,y,city,city_x,city_y,statefr,stateen,countryfr,countryen,id_city
0,34021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Paris,2.35222222222222,48.8566666666667,NaN,NaN,France,France,7061
1,29041,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sivry-Rance,4.180831,50.167781,NaN,NaN,Belgique,Belgium,111678
2,29044,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Argenton,0.093888888888889,44.385,NaN,NaN,France,France,111679
3,29048,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Saint-Cyr,0.95833333333333,45.800277777778,NaN,NaN,France,France,111682
4,29039,51,rue Ramey,NaN,NaN,NaN,NaN,NaN,Paris,2.35222222222222,48.8566666666667,NaN,NaN,France,France,7061

In [9]:
merged_bas['temp_key'] = merged_bas['road'] + merged_bas['road_num']

In [10]:
id_map = dict(zip(merged_bas['temp_key'], merged_bas['id']))

In [11]:
df['temp_key'] = df['road'] + df['road_num']

In [12]:
df['id'] = df.apply(lambda row: id_map[row['temp_key']] 
                    if row['temp_key'] in id_map and row['id'] != id_map[row['temp_key']] 
                    else row['id'], axis=1)

In [18]:
# Create a mapping for road to a set of ids in merged_bas
road_id_map = merged_bas[merged_bas['road_num'].isnull() | (merged_bas['road_num'] == '')]
road_id_map = road_id_map.groupby('road')['id'].apply(set).to_dict()

In [19]:
# Function to check conditions and flag
def check_and_flag(row):
    if row['road'] in road_id_map and (row['road_num'] == '' or pd.isnull(row['road_num'])):
        if row['id'] not in road_id_map[row['road']]:
            return 1
    return 0

# Apply the function to flag the records
df['flag'] = df.apply(check_and_flag, axis=1)

In [21]:
merged_bas.to_csv('/Users/carboni/Downloads/merged_bas.csv', index=False)

In [ ]:
combined_df = merged_bas.merge(df[['id', 'x', 'y']], on='id', how='left', suffixes=('', '_df'))

In [ ]:
# Step 2: Update 'x' and 'y' in merged_bas where df['x'] is not null
combined_df.loc[combined_df['x_df'].notnull(), 'x'] = combined_df['x_df']
combined_df.loc[combined_df['x_df'].notnull(), 'y'] = combined_df['y_df']

# Step 3: Drop the temporary columns from the merge
combined_df.drop(['x_df', 'y_df'], axis=1, inplace=True)

In [ ]:
combined_df

In [ ]:
columns = combined_df.columns

# Iterate through the columns
for col in columns:
    # Check if the column name contains a space
    if ' ' in col:
        # Replace spaces with underscores
        combined_df.rename(columns={col: col.replace(' ', '_')}, inplace=True)

In [ ]:
combined_df = merged_bas.dropna(axis=1, how='all')

In [ ]:
combined_df = combined_df.drop(columns=['city', 'city_x', 'city_y', 'statefr','stateen', 'countryfr', 'countryen'])

In [ ]:
combined_df = combined_df.replace(r"^ +| +$", r"", regex=True)

In [ ]:
combined_df.to_xml('/Users/carboni/Documents/UNIGE/basart_downloads/2023/data/processed/address/address.xml', root_name="data", pretty_print=True, index=False)