# Pivot Notebook

To be used to create pivot table for the explored corpus of VC. It opens a file and create pivot table according to
+ City
+ Journal
+ Type

## Computing Pivot

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Explored_april_22.csv", sep='\t')

In [3]:
df.head()

,Media URL,wkt,City,Country,normalized_date,Title,Journal Type
0,https://iiif.unige.ch/dhportal/ug8101433/manifest,POINT(-74.006015 40.712728),New York City,United States of America,1936-11-23T00:00:00Z,LIFE,Illustrated Magazine
1,https://iiif.unige.ch/dhportal/ug8026695/manifest,POINT(-74.006015 40.712728),New York City,United States of America,1936-11-30T00:00:00Z,LIFE,Illustrated Magazine
2,https://iiif.unige.ch/dhportal/ug8013847/manifest,POINT(-74.006015 40.712728),New York City,United States of America,1936-12-07T00:00:00Z,LIFE,Illustrated Magazine
3,https://iiif.unige.ch/dhportal/ug8010392/manifest,POINT(-74.006015 40.712728),New York City,United States of America,1936-12-21T00:00:00Z,LIFE,Illustrated Magazine
4,https://iiif.unige.ch/dhportal/ug8032218/manifest,POINT(-74.006015 40.712728),New York City,United States of America,1936-12-28T00:00:00Z,LIFE,Illustrated Magazine

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156546 entries, 0 to 156545
Data columns (total 7 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Media URL        156546 non-null  object
 1   wkt              156305 non-null  object
 2   City             154550 non-null  object
 3   Country          156496 non-null  object
 4   normalized_date  156546 non-null  object
 5   Title            156546 non-null  object
 6   Journal Type     145575 non-null  object
dtypes: object(7)
memory usage: 8.4+ MB

### Quantify how many Media URL (Manifest) have been published on the same city

In [5]:
pivot_city = pd.pivot_table(df, values='Media URL', index='City', aggfunc=pd.Series.nunique)

In [6]:
pivot_city

                 Media URL
City
Aachen                   1
Aix-en-Provence          1
Alençon                  1
Algiers               1094
Amiens                 776
...                    ...
Yarmolyntsi             68
Zagreb                  34
Zürich                  33
Épinal                 487
Évreux                   4

[301 rows x 1 columns]

In [7]:
pivot_city.to_csv("pivot_city.csv")

### Quantify how many Media URL (Manifest) belong to the same journal

In [8]:
pivot_title = pd.pivot_table(df, values='Media URL', index='Title', aggfunc=pd.Series.nunique)

In [9]:
pivot_title

                                                    Media URL
Title
18 Whiskys. Un buen record                                  1
19 Whiskys. Un buen record                                  1
2001                                                        1
2001 Periodismo de Anticipación                            48
20th CENTURY FOX NEWS                                       1
...                                                       ...
Świadectwo autoportretu                                     1
Światła Stambułu                                            1
Żeby wiedzieć                                               1
Византийские иконы Синая / Vizantijskie ikony S...          1
Ḥamīyet                                                     1

[1793 rows x 1 columns]

In [10]:
pivot_title.to_csv("pivot_title.csv")

### Quantify how many Media URL (Manifest) belong to the same Journal Type

In [11]:
pivot_type = pd.pivot_table(df, values='Media URL', index='Journal Type', aggfunc=pd.Series.nunique)

In [12]:
pivot_type

                  Media URL
Journal Type
Academic Journal          7
Academy                   7
Administration           75
Advertisement             4
Architecture            239
...                     ...
Urbanism                  3
War                    1737
Woman                  1829
Worldliness             715
Youth                   535

[79 rows x 1 columns]

In [13]:
pivot_type.to_csv("pivot_type.csv")

## Adding values to original dataframe

### City

In [14]:
pivot_city = pivot_city.rename(columns={"Media URL": "City_number"})

In [15]:
df = pd.merge(df, pivot_city, on=['City'])

In [16]:
df.head()

,Media URL,wkt,City,Country,normalized_date,Title,Journal Type,City_number
0,https://iiif.unige.ch/dhportal/ug8101433/manifest,POINT(-74.006015 40.712728),New York City,United States of America,1936-11-23T00:00:00Z,LIFE,Illustrated Magazine,7571
1,https://iiif.unige.ch/dhportal/ug8026695/manifest,POINT(-74.006015 40.712728),New York City,United States of America,1936-11-30T00:00:00Z,LIFE,Illustrated Magazine,7571
2,https://iiif.unige.ch/dhportal/ug8013847/manifest,POINT(-74.006015 40.712728),New York City,United States of America,1936-12-07T00:00:00Z,LIFE,Illustrated Magazine,7571
3,https://iiif.unige.ch/dhportal/ug8010392/manifest,POINT(-74.006015 40.712728),New York City,United States of America,1936-12-21T00:00:00Z,LIFE,Illustrated Magazine,7571
4,https://iiif.unige.ch/dhportal/ug8032218/manifest,POINT(-74.006015 40.712728),New York City,United States of America,1936-12-28T00:00:00Z,LIFE,Illustrated Magazine,7571

In [17]:
df.to_csv("explored_city_quant.csv")

### Journal

In [18]:
pivot_title = pivot_title.rename(columns={"Media URL": "Journal_number"})

In [19]:
df = pd.merge(df, pivot_title, on=['Title'])

In [20]:
df.head()

,Media URL,wkt,City,Country,normalized_date,Title,Journal Type,City_number,Journal_number
0,https://iiif.unige.ch/dhportal/ug8101433/manifest,POINT(-74.006015 40.712728),New York City,United States of America,1936-11-23T00:00:00Z,LIFE,Illustrated Magazine,7571,1006
1,https://iiif.unige.ch/dhportal/ug8026695/manifest,POINT(-74.006015 40.712728),New York City,United States of America,1936-11-30T00:00:00Z,LIFE,Illustrated Magazine,7571,1006
2,https://iiif.unige.ch/dhportal/ug8013847/manifest,POINT(-74.006015 40.712728),New York City,United States of America,1936-12-07T00:00:00Z,LIFE,Illustrated Magazine,7571,1006
3,https://iiif.unige.ch/dhportal/ug8010392/manifest,POINT(-74.006015 40.712728),New York City,United States of America,1936-12-21T00:00:00Z,LIFE,Illustrated Magazine,7571,1006
4,https://iiif.unige.ch/dhportal/ug8032218/manifest,POINT(-74.006015 40.712728),New York City,United States of America,1936-12-28T00:00:00Z,LIFE,Illustrated Magazine,7571,1006

In [21]:
df.to_csv("explored_city_journ_quant.csv")

### Type

In [22]:
pivot_type = pivot_type.rename(columns={"Media URL": "Type_number"})

In [23]:
df = pd.merge(df, pivot_type, on=['Journal Type'])

In [24]:
df.head()

,Media URL,wkt,City,Country,normalized_date,Title,Journal Type,City_number,Journal_number,Type_number
0,https://iiif.unige.ch/dhportal/ug8101433/manifest,POINT(-74.006015 40.712728),New York City,United States of America,1936-11-23T00:00:00Z,LIFE,Illustrated Magazine,7571,1006,1812
1,https://iiif.unige.ch/dhportal/ug8026695/manifest,POINT(-74.006015 40.712728),New York City,United States of America,1936-11-30T00:00:00Z,LIFE,Illustrated Magazine,7571,1006,1812
2,https://iiif.unige.ch/dhportal/ug8013847/manifest,POINT(-74.006015 40.712728),New York City,United States of America,1936-12-07T00:00:00Z,LIFE,Illustrated Magazine,7571,1006,1812
3,https://iiif.unige.ch/dhportal/ug8010392/manifest,POINT(-74.006015 40.712728),New York City,United States of America,1936-12-21T00:00:00Z,LIFE,Illustrated Magazine,7571,1006,1812
4,https://iiif.unige.ch/dhportal/ug8032218/manifest,POINT(-74.006015 40.712728),New York City,United States of America,1936-12-28T00:00:00Z,LIFE,Illustrated Magazine,7571,1006,1812

In [26]:
df.to_csv("explored_city_journ_type_quant.csv")