In [1]:
import os
import pandas as pd
import warnings
import glob

In [12]:
path = r'/Users/carboni/Downloads/merge_csv' # use your path
all_files = glob.glob(path + "/*.csv")

li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0, delimiter=',', dtype ='str')
    li.append(df)

df2 = pd.concat(li, axis=0, ignore_index=True)

In [13]:
df2

,id,accession_number,artist,artistRole,artistId,user,ArtistDateBirth,ContinentOfBirth,ContinentCount,Gender,...,depth,units,url,yes,User,ContinentOfBirth_Count,AcquisitionYearFullDate,inscription,thumbnailCopyright,thumbnailUrl
0,1183,A00050,"Richmond, George",attributed to,447,beatrice,1809,Europe,4749,Male,...,NaN,mm,http://www.tate.org.uk/art/artworks/richmond-t...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,9484,A00792,"Millais, Sir John Everett, Bt",artist,379,beatrice,1829,Europe,4749,Male,...,NaN,mm,http://www.tate.org.uk/art/artworks/millais-th...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,9485,A00793,"Millais, Sir John Everett, Bt",artist,379,beatrice,1829,Europe,4749,Male,...,NaN,mm,http://www.tate.org.uk/art/artworks/millais-th...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,9486,A00794,"Millais, Sir John Everett, Bt",artist,379,beatrice,1829,Europe,4749,Male,...,NaN,mm,http://www.tate.org.uk/art/artworks/millais-th...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,9487,A00795,"Millais, Sir John Everett, Bt",artist,379,beatrice,1829,Europe,4749,Male,...,NaN,mm,http://www.tate.org.uk/art/artworks/millais-th...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66407,127130,T13855,"Lord, Andrew",artist,7268,christophe,1950,Europe,6611,Male,...,200,mm,http://www.tate.org.uk/art/artworks/lord-breat...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66408,127131,T13856,"Lord, Andrew",artist,7268,christophe,1950,Europe,6611,Male,...,394,mm,http://www.tate.org.uk/art/artworks/lord-untit...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66409,129068,T13858,"Lord, Andrew",artist,7268,christophe,1950,Europe,6611,Male,...,105,mm,http://www.tate.org.uk/art/artworks/lord-coffe...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66410,122900,T13862,"Flanagan, Barry",artist,1100,christophe2,1941,Europe,6611,Male,...,NaN,NaN,http://www.tate.org.uk/art/artworks/flanagan-s...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66411,112306,T13868,"Creed, Martin",artist,2760,christophe2,1968,Europe,6611,Male,...,NaN,NaN,http://www.tate.org.uk/art/artworks/creed-work...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
df2.to_csv('/Users/carboni/Downloads/tate_combined.csv', index=False)

### Concat existing dataframe

In [ ]:
df1 = pd.read_csv("/Users/carboni/Downloads/style/cubism.csv")

In [ ]:
df2 = pd.read_csv("/Users/carboni/Downloads/style/impressionism.csv")

In [ ]:
df1["style"] = "cubism"

In [ ]:
df2["style"] = "impressionism"

In [ ]:
df_merged = df1.append(df2, ignore_index=True)

In [ ]:
df_merged

In [ ]:
df_merged.to_csv('/Users/carboni/Downloads/exhibitions/combined.csv', index=False)