In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("/Users/carboni/Downloads/test_stackoverflow.csv")

In [3]:
df

    id name type start
0  AAA    A   xx   yes
1  AAA    B   yy    no
2  AAA    C   xx    no
3  BBB    C   xx   yes
4  BBB    D   zz    no
5  BBB    B   yy    no

In [4]:
m = df["start"] == "yes"
res = (
    df[m].merge(df[~m], on="id", suffixes=("", "NAG"))
    .drop(columns=["", "startNAG"])
)

In [6]:
res

    id name type nameNAG typeNAG
0  AAA    A   xx       B      yy
1  AAA    A   xx       C      xx
2  BBB    C   xx       D      zz
3  BBB    C   xx       B      yy