In [18]:
import pandas as pd

In [47]:
df = pd.read_csv("/Users/carboni/Documents/UNIGE/pynotebook/OpenRefine_fusion/backup/combined_explored_august.csv")

In [48]:
df1 = df.drop_duplicates(subset=['Title'])

In [49]:
len(df1)

3478

In [50]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3478 entries, 0 to 3145425
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Media URL        3478 non-null   object
 1   City             3286 non-null   object
 2   Country          3463 non-null   object
 3   wkt              3450 non-null   object
 4   normalized_date  3478 non-null   object
 5   Title            3478 non-null   object
 6   Journal Type     2718 non-null   object
dtypes: object(7)
memory usage: 217.4+ KB

In [41]:
df1.nunique()

Media URL          4412
City               1185
Country              43
wkt                1173
normalized_date    2784
Title              4412
Journal Type         79
dtype: int64

In [51]:
df1.Country.value_counts().head(30)

United States of America      1820
France                         588
Germany                        308
Poland                         171
Argentina                      156
Japan                           98
People's Republic of China      84
United Kingdom                  49
Ukraine                         26
Spain                           24
Russia                          16
Czech Republic                  13
Chile                           13
Austria                         13
Italy                           12
Netherlands                     11
Algeria                          8
Switzerland                      8
Belgium                          8
Romania                          6
Republic of Ireland              5
Vietnam                          3
Canada                           3
Slovenia                         3
Denmark                          2
Slovakia                         1
Croatia                          1
Finland                          1
Cameroon                         1
Monaco                           1
Name: Country, dtype: int64

In [52]:
from collections import Counter


Counter(df1['City'].sort_values(ascending=True).tolist()).most_common(50)

[('Paris', 424),
 (nan, 192),
 ('Buenos Aires', 133),
 ('Warsaw', 90),
 ('Berlin', 72),
 ('Munich', 64),
 ('Kraków', 46),
 ('New York City', 45),
 ('London', 38),
 ('Chicago', 29),
 ('Washington, D.C.', 27),
 ('Wrocław', 22),
 ('Heidelberg', 20),
 ('Barcelona', 19),
 ('Minneapolis', 18),
 ('Richmond', 17),
 ('Lincoln', 16),
 ('Lexington', 15),
 ('Schwäbisch Gmünd', 14),
 ('Hamburg', 13),
 ('Santiago', 13),
 ('Stuttgart', 13),
 ('Vienna', 13),
 ('Wilmington', 13),
 ('Moscow', 12),
 ('Phoenix', 12),
 ('Tokyo', 12),
 ('Clandestine', 11),
 ('Honolulu', 11),
 ('Prague', 11),
 ('Columbus', 10),
 ('Detroit', 10),
 ('Marseille', 10),
 ('Baden-Baden', 9),
 ('Cologne', 9),
 ('Columbia', 9),
 ('Leipzig', 9),
 ('Prescott', 9),
 ('Toulouse', 9),
 ('Algiers', 8),
 ('Denver', 8),
 ('Frankfurt', 8),
 ('Great Falls', 8),
 ('Hartford', 8),
 ('Jackson', 8),
 ('Las Vegas', 8),
 ('Lyon', 8),
 ('Marion', 8),
 ('New Haven', 8),
 ('Rosario', 8)]

In [29]:
df1.to_csv("/Users/carboni/Downloads/cluster_all.csv", index=False)

In [30]:
pivot_city = pd.pivot_table(df1, values='Title', index='City', aggfunc=pd.Series.nunique)

In [31]:
pivot_city

                      Title
City
's-Hertogenbosch         16
A Coruña                  1
Aachen                    8
Aalbeke                   1
Aalborg Municipality      1
...                     ...
Śródmieście               6
Ševětín                   1
Žižkov                    5
Žďár nad Sázavou          1
Žďár nad Sázavou 1        1

[2688 rows x 1 columns]

In [32]:
pivot_city = pivot_city.rename(columns={"Title": "City_number"})

In [33]:
df1 = pd.merge(df1, pivot_city, on=['City'])

In [34]:
df1.head()

,Media URL,City,Country,wkt,normalized_date,Title,Journal Type,City_number
0,https://iiif.unige.ch/dhportal/ug8000019/manifest,Bucharest,Romania,POINT(26.083333333333 44.4),1930-07-01,Unu,Avant-garde Journal,6
1,https://iiif.unige.ch/dhportal/ug8001465/manifest,Bucharest,Romania,POINT(26.083333333333 44.4),1929-11-01,Contemporanul,Avant-garde Journal,6
2,https://iiif.unige.ch/dhportal/ug8002231/manifest,Bucharest,Romania,POINT(26.083333333333 44.4),1928-04-01,Integral,Avant-garde Journal,6
3,https://iiif.unige.ch/dhportal/ug8005624/manifest,Bucharest,Romania,POINT(26.083333333333 44.4),1925-02-20,Punct,Avant-garde Journal,6
4,https://iiif.unige.ch/dhportal/ug8022843/manifest,Bucharest,Romania,POINT(26.083333333333 44.4),1924-11-01,75 HP,NaN,6

In [36]:
df1.to_csv("/Users/carboni/Downloads/cluster_all.csv", index=False)

In [15]:
from nb_search import search_files
files = search_files('./PATH')