In [91]:
import pandas as pd

In [92]:
df = pd.read_csv('/Users/carboni/Downloads/FJC_georeferenced.csv')

In [93]:
df

,https://ncarboni.github.io/Tropy_cinquecentine/schema#Printer,title_image,id,https://ncarboni.github.io/Tropy_cinquecentine/schema#PageNumber,https://ncarboni.github.io/Tropy_cinquecentine/schema#Identifier,https://ncarboni.github.io/Tropy_cinquecentine/schema#QuireMark,http://id.loc.gov/ontologies/bibframe/mainTitle,https://ncarboni.github.io/Tropy_cinquecentine/schema#ModelType,http://id.loc.gov/ontologies/bibframe/descriptionLanguage,date,https://visualcontagions.net/schema#City,latitude,longitude,coord,https://tropy.org/v1/tropy#tag,https://tropy.org/v1/tropy#path,https://tropy.org/v1/tropy#note
0,Durant Zacharie,Ant_Pope_Gold_Relics_1557,Ant,NaN,NaN,[C5],Antithesis,Pope_Gold_Relics,Latin,1557-01-01,Genève,46.204717,6.142311,"46.2047169, 6.1423106290939335",NaN,/Users/brigitteroux/Documents/faits de JC/édit...,NaN
1,Durant Zacharie,Ant_Entry_Jerusalem_1557,Ant,NaN,NaN,[C6v],Antithesis,Entry_Jerusalem,Latin,1557-01-01,Genève,46.204717,6.142311,"46.2047169, 6.1423106290939335",NaN,/Users/brigitteroux/Documents/faits de JC/édit...,NaN
2,Durant Zacharie,Ant_Pope_War_1557,Ant,NaN,NaN,[C7],Antithesis,Pope_war,Latin,1557-01-01,Genève,46.204717,6.142311,"46.2047169, 6.1423106290939335",NaN,/Users/brigitteroux/Documents/faits de JC/édit...,NaN
3,Durant Zacharie,Ant_Cleansing_Temple_1557,Ant,NaN,NaN,[C8v],Antithesis,Cleansing_Temple,Latin,1557-01-01,Genève,46.204717,6.142311,"46.2047169, 6.1423106290939335",NaN,/Users/brigitteroux/Documents/faits de JC/édit...,NaN
4,Durant Zacharie,Ant_Pope_Indulgences_1557,Ant,NaN,NaN,Di,Antithesis,Pope_indulgences,Latin,1557-01-01,Genève,46.204717,6.142311,"46.2047169, 6.1423106290939335",NaN,/Users/brigitteroux/Documents/faits de JC/édit...,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
157,Saugrain,FJP_Refuse_Crown_1558,FJP_58,NaN,NaN,NaN,Faits,Refuse_crown,French,1558-01-01,Lyon,45.757814,4.832011,"45.7578137, 4.8320114",Lyon,/Users/brigitteroux/Documents/faits de JC/édit...,NaN
158,Saugrain,FJP_Refuse_Entry_Emperor_1558,FJP_58,NaN,NaN,NaN,Faits,Refuse_entry_emperor,French,1558-01-01,Lyon,45.757814,4.832011,"45.7578137, 4.8320114",Lyon,/Users/brigitteroux/Documents/faits de JC/édit...,NaN
159,Saugrain,FJP_Nativity_1558,FJP_58,NaN,NaN,NaN,Faits,Nativity,French,1558-01-01,Lyon,45.757814,4.832011,"45.7578137, 4.8320114",Lyon,/Users/brigitteroux/Documents/faits de JC/édit...,NaN
160,Wolfgang Köpfel,Christ_Good_Sheperd_1523,Christ,NaN,NaN,NaN,Christeliche verantwortung,Good_Sheperd,German,1523-01-01,Strasbourg,48.584614,7.750713,"48.584614, 7.7507127",NaN,/Users/brigitteroux/Documents/faits de JC/édit...,NaN
161,Wolfgang Köpfel,Christ_Good_Sheperd_1524,Christ,NaN,NaN,NaN,Christeliche verantwortung,Good_Sheperd,German,1523-01-01,Strasbourg,48.584614,7.750713,"48.584614, 7.7507127",NaN,/Users/brigitteroux/Documents/faits de JC/édit...,NaN

## In case you have clusters (or other categories) & WKT coordinates

In [ ]:
## Remember to change the name of the column according to your data

transformed_data = []

for cluster, group_df in df.groupby('Cluster'): #add name of the category to group here
    group_df = group_df.sort_values(by='Date') # sort values by the temporal data, add your column here
    group_df['origin'] = group_df['wkt'] # wkt here is the column where you have the coordinates
    group_df['destination'] = group_df['wkt'].shift(-1).fillna(group_df['wkt'].iloc[-1])
    transformed_data.append(group_df)

# Concatenate all transformed groups
transformed_df = pd.concat(transformed_data)

In [ ]:
transformed_df.head()

In [ ]:
transformed_df['date'] = pd.to_datetime(transformed_df['date']).dt.strftime('%Y-%m-%dT%H:%M:%S')

In [ ]:
## in case the other formula give you an error similar to:
## "OutOfBoundsDatetime: Out of bounds nanosecond timestamp: 1521-01-01 00:00:00 present at position 0"
## use this formula to add T00:00:00 to the current YYYY-MM-DD dates. 
## Before using this formula be sure that the date are in YYYY-MM-DD format
## remove the '#' (comment) on the code before running the instruction. Leave this text alone.

#transformed_df['date'] = transformed_df['date'] + "T00:00:00"

In [ ]:
transformed_df[['origin_longitude', 'origin_latitude']] = transformed_df['origin'].str.extract(r'POINT\(([^ ]+) ([^ ]+)\)')

In [ ]:
transformed_df[['destination_longitude', 'destination_latitude']] = transformed_df['destination'].str.extract(r'POINT\(([^ ]+) ([^ ]+)\)')

In [ ]:
transformed_df.drop(['destination', 'origin', 'wkt'], axis=1, inplace=True)

In [ ]:
## due to one error in the metadata file, if you are using Leopard data you may need 
## to use this instruction

transformed_df['City'] = transformed_df['City'].replace('New York', 'New York City')

In [ ]:
transformed_df.drop(['destination', 'origin', 'wkt'], axis=1, inplace=True)

## In case you have clusters (or other categories) & decimal (lat,long) coordinates

In [78]:
## if your coordinate column is splitted into latitude and longitude, use the formula to put them together.
## Change the name of the column accordingly and remove the '#' (comment) on the code before running the instruction. Leave this text alone.

# df['coord'] = df['latitude'].astype(str) + "," + df['longitude'].astype(str)

In [94]:
## Remember to change the name of the column according to your data

transformed_data = []

for cluster, group_df in df.groupby('https://ncarboni.github.io/Tropy_cinquecentine/schema#ModelType'): #add name of the category to group here
    group_df = group_df.sort_values(by='date') # sort values by the temporal data, add your column here
    group_df['origin'] = group_df['coord'] # coord here is the column where you have the decimal coordinates (lat,long)
    group_df['destination'] = group_df['coord'].shift(-1).fillna(group_df['coord'].iloc[-1])
    transformed_data.append(group_df)

# Concatenate all transformed groups
transformed_df = pd.concat(transformed_data)

In [80]:
#transformed_df['date'] = pd.to_datetime(transformed_df['date']).dt.strftime('%Y-%m-%dT%H:%M:%S')

In [95]:
## in case the other formula give you an error similar to:
## "OutOfBoundsDatetime: Out of bounds nanosecond timestamp: 1521-01-01 00:00:00 present at position 0"
## use this formula to add T00:00:00 to the current YYYY-MM-DD dates. 
## Before using this formula be sure that the date are in YYYY-MM-DD format
## remove the '#' (comment) on the code before running the instruction. Leave this text alone.

transformed_df['date'] = transformed_df['date'] + "T00:00:00"

In [96]:
transformed_df[['origin_latitude', 'origin_longitude']] = transformed_df['origin'].str.split(',', n=1, expand=True)
transformed_df[['destination_latitude','destination_longitude']] = transformed_df['destination'].str.split(',', n=1, expand=True)

In [97]:
transformed_df.drop(['destination', 'origin', 'coord'], axis=1, inplace=True)

## In case you DO NOT have clusters (or other categories) and have decimal (lat,long) coordinates

In [ ]:
## If you have the coordinates stored in a single column in the form: lat,long
## use the instruction above to divide them
## remove the '#' (comment) on the code before running the instruction. Leave this text alone.

# df[['lat', 'long']] = df['coord'].str.split(',', n=1, expand=True)

In [ ]:
# df['Date'] = pd.to_datetime(df['Date'])

In [ ]:
df = df.sort_values(by='Date')

In [ ]:
df['origin_lat'] = df['lat']
df['origin_long'] = df['long']

In [ ]:
df['dest_lat'] = df['lat'].shift(-1).fillna(df['lat'].iloc[-1])
df['dest_long'] = df['long'].shift(-1).fillna(df['long'].iloc[-1])

In [ ]:
df['date'] = pd.to_datetime(transformed_df['date']).dt.strftime('%Y-%m-%dT%H:%M:%S')

In [ ]:
## in case the other formula give you an error similar to:
## "OutOfBoundsDatetime: Out of bounds nanosecond timestamp: 1521-01-01 00:00:00 present at position 0"
## use this formula to add T00:00:00 to the current YYYY-MM-DD dates. 
## Before using this formula be sure that the date are in YYYY-MM-DD format
## remove the '#' (comment) on the code before running the instruction. Leave this text alone.

#df['date'] = df['date'] + "T00:00:00"

In [ ]:
transformed_df = df

In [ ]:
transformed_df.drop(['lat', 'long'], axis=1, inplace=True)

## Common Operations

In [ ]:
transformed_df

### Duration

In [ ]:
# Calculate the duration for each movement
##
transformed_df['date'] = pd.to_datetime(transformed_df['date'])
transformed_df['Duration'] = transformed_df.groupby('Cluster')['date'].diff().fillna(pd.Timedelta(seconds=0))

### Count cities

In [98]:
transformed_df['city_number'] = transformed_df.groupby(['https://visualcontagions.net/schema#City'])['https://visualcontagions.net/schema#City'].transform('count')

### Count number of images per edition

In [99]:
transformed_df['image_number_per_edition'] = transformed_df.groupby('id')['id'].transform('count')

### Save the CSV

In [58]:
transformed_df.to_csv('foursquare_images.csv', index=False)

### Save the CSV without namespaces

In [100]:
transformed_df.sort_values(['https://ncarboni.github.io/Tropy_cinquecentine/schema#ModelType', 'date'], ascending=[True, True], inplace=True)

In [70]:
#keyword = 'Poverty'
#transformed_df = transformed_df[transformed_df['https://ncarboni.github.io/Tropy_cinquecentine/schema#ModelType'].str.contains(keyword, case=False, na=False)]

In [101]:
replacements = {
    "https://ncarboni.github.io/Tropy_cinquecentine/schema#": "cc:",
    "http://id.loc.gov/ontologies/bibframe/": "bf:",
    "https://visualcontagions.net/schema#": "vc:",
    "https://tropy.org/v1/tropy#": "tr:"
}

def replace_column_names(col_name):
    for old, new in replacements.items():
        col_name = col_name.replace(old, new)
    return col_name

transformed_df.columns = [replace_column_names(col) for col in transformed_df.columns]

In [89]:
# transformed_df.drop(['latitude', 'longitude', 'tr:path', 'tr:tag', 'tr:note'], axis=1, inplace=True)

In [102]:
transformed_df.to_csv('foursquare_images_mod.csv', index=False)