# Pivot Notebook

To be used to create pivot table for the explored corpus of VC. It opens a file and create pivot table according to
+ City
+ Journal
+ Type

## Computing Pivot

In [17]:
import pandas as pd

In [18]:
df = pd.read_csv("combined_1870_explore_april_22.csv", sep='\t')

In [20]:
df = pd.read_csv("combined_1870_explore_april_22.csv")

In [21]:
df.head()

,Media URL,City,Country,wkt,normalized_date,Title,Journal Type
0,https://iiif.unige.ch/dhportal/ug8101433/manifest,New York City,United States of America,POINT(-74.006015 40.712728),1936-11-23,LIFE,Illustrated Magazine
1,https://iiif.unige.ch/dhportal/ug8026695/manifest,New York City,United States of America,POINT(-74.006015 40.712728),1936-11-30,LIFE,Illustrated Magazine
2,https://iiif.unige.ch/dhportal/ug8013847/manifest,New York City,United States of America,POINT(-74.006015 40.712728),1936-12-07,LIFE,Illustrated Magazine
3,https://iiif.unige.ch/dhportal/ug8010392/manifest,New York City,United States of America,POINT(-74.006015 40.712728),1936-12-21,LIFE,Illustrated Magazine
4,https://iiif.unige.ch/dhportal/ug8032218/manifest,New York City,United States of America,POINT(-74.006015 40.712728),1936-12-28,LIFE,Illustrated Magazine

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156550 entries, 0 to 156549
Data columns (total 7 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Media URL        156546 non-null  object
 1   City             144415 non-null  object
 2   Country          156477 non-null  object
 3   wkt              156309 non-null  object
 4   normalized_date  156550 non-null  object
 5   Title            156549 non-null  object
 6   Journal Type     61795 non-null   object
dtypes: object(7)
memory usage: 8.4+ MB

### Quantify how many Media URL (Manifest) have been published on the same city

In [22]:
pivot_city = pd.pivot_table(df, values='Media URL', index='City', aggfunc=pd.Series.nunique)

In [23]:
pivot_city.head(20)

                  Media URL
City
Aachen                    1
Aix-en-Provence           1
Alen√ßon                   1
Algiers                1094
Amiens                  776
Amsterdam                 2
Angers                    1
Ann Arbor                97
Annecy                    3
Arad                      2
Arlington County        461
Arras                    24
Atlanta                   6
Aubigny-au-Bac          294
Aurillac                341
Autun                    14
Avignon                   2
Bad W√∂rishofen            7
Baden-Baden               9
Bakhmut                  91

In [24]:
pivot_city.to_csv("pivot_city.csv")

### Quantify how many Media URL (Manifest) belong to the same journal

In [29]:
pivot_title = pd.pivot_table(df, values='Media URL', index='Title', aggfunc=pd.Series.nunique)

In [30]:
pivot_title

                                                    Media URL
Title
18 Whiskys. Un buen record                                  1
19 Whiskys. Un buen record                                  1
2001 Periodismo de Anticipaci√≥n                            48
291                                                         9
30 (Thirty) Days                                           25
...                                                       ...
≈öwiadectwo autoportretu                                     1
≈öwiat≈Ça Stambu≈Çu                                            1
≈ªeby wiedzieƒá                                               1
–í–∏–∑–∞–Ω—Ç–∏–π—Å–∫–∏–µ –∏–∫–æ–Ω—ã –°–∏–Ω–∞—è / Vizantijskie ikony S...          1
·∏§amƒ´yet                                                     1

[1586 rows x 1 columns]

In [31]:
pivot_title.to_csv("pivot_title.csv")

### Quantify how many Media URL (Manifest) belong to the same Journal Type

In [ ]:
pivot_type = pd.pivot_table(df, values='Media URL', index='Journal Type', aggfunc=pd.Series.nunique)

In [ ]:
pivot_type

In [ ]:
pivot_type.to_csv("pivot_type.csv")

## Adding values to original dataframe

### City

In [25]:
pivot_city = pivot_city.rename(columns={"Media URL": "City_number"})

In [26]:
df = pd.merge(df, pivot_city, on=['City'])

In [27]:
df.head()

,Media URL,City,Country,wkt,normalized_date,Title,Journal Type,City_number
0,https://iiif.unige.ch/dhportal/ug8101433/manifest,New York City,United States of America,POINT(-74.006015 40.712728),1936-11-23,LIFE,Illustrated Magazine,7571
1,https://iiif.unige.ch/dhportal/ug8026695/manifest,New York City,United States of America,POINT(-74.006015 40.712728),1936-11-30,LIFE,Illustrated Magazine,7571
2,https://iiif.unige.ch/dhportal/ug8013847/manifest,New York City,United States of America,POINT(-74.006015 40.712728),1936-12-07,LIFE,Illustrated Magazine,7571
3,https://iiif.unige.ch/dhportal/ug8010392/manifest,New York City,United States of America,POINT(-74.006015 40.712728),1936-12-21,LIFE,Illustrated Magazine,7571
4,https://iiif.unige.ch/dhportal/ug8032218/manifest,New York City,United States of America,POINT(-74.006015 40.712728),1936-12-28,LIFE,Illustrated Magazine,7571

In [28]:
df.to_csv("explored_city_quant.csv", index=False)

### Journal

In [32]:
pivot_title = pivot_title.rename(columns={"Media URL": "Journal_number"})

In [33]:
df = pd.merge(df, pivot_title, on=['Title'])

In [34]:
df.head()

,Media URL,City,Country,wkt,normalized_date,Title,Journal Type,City_number,Journal_number
0,https://iiif.unige.ch/dhportal/ug8101433/manifest,New York City,United States of America,POINT(-74.006015 40.712728),1936-11-23,LIFE,Illustrated Magazine,7571,1006
1,https://iiif.unige.ch/dhportal/ug8026695/manifest,New York City,United States of America,POINT(-74.006015 40.712728),1936-11-30,LIFE,Illustrated Magazine,7571,1006
2,https://iiif.unige.ch/dhportal/ug8013847/manifest,New York City,United States of America,POINT(-74.006015 40.712728),1936-12-07,LIFE,Illustrated Magazine,7571,1006
3,https://iiif.unige.ch/dhportal/ug8010392/manifest,New York City,United States of America,POINT(-74.006015 40.712728),1936-12-21,LIFE,Illustrated Magazine,7571,1006
4,https://iiif.unige.ch/dhportal/ug8032218/manifest,New York City,United States of America,POINT(-74.006015 40.712728),1936-12-28,LIFE,Illustrated Magazine,7571,1006

In [35]:
df.to_csv("explored_city_journ_quant.csv", index=False)

### Type

In [ ]:
pivot_type = pivot_type.rename(columns={"Media URL": "Type_number"})

In [ ]:
df = pd.merge(df, pivot_type, on=['Journal Type'])

In [ ]:
df.head()

In [ ]:
df.to_csv("explored_city_journ_type_quant.csv")